#header-wrapper {
    box-shadow: 0 0 0 1px rgba(0,0,0,.05), 0 0 5px 0 rgba(0,0,0,.1);
    background-color: white;
}
header {
    background-color: white;
    height: 60px;
    font-size: 14px;
    position: relative;
    z-index: 3;
}
#header-logo-wrapper,
#header-menu,
#header-buttons {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

#header-logo-wrapper {
    z-index: 1;
    left: 50px;
}
#header-menu {
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0
}
#header-buttons {
    right: 0;
    left: auto;
    z-index: 2;
    right: 50px;
}

#header-logo {
    margin-top: 5px;
}

#menu-button {
    background-image: url("/images/menu-bars.png");
    width: 50px;
    height: 50px;
    margin-left: -17px;
    /*margin-top: 5px;*/
    display: none;
    background-size: 33px auto;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    position: relative;
    cursor: pointer;
}

/* HEADER MENU OPTIONS IN MIDDLE */
.menu-option {
    padding: 0;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    color: #7b7b7c;
    line-height: 60px;
    letter-spacing: 1px;
    transition: all .3s;
    /*width: 150px;*/
    height: 60px;
    position: relative;
    cursor: pointer;
}
.menu-option:hover {
    color: white;
}
.menu-option-actual {
    width: 100%;
    height: 100%;
    display: inline-block;
    color: inherit;
    text-decoration: none;
    padding: 0 30px;
}
/*.menu-option-actual span {
    width: 100%;
}*/
.menu-option-actual:hover {
    color: white;
}
.menu-option-actual:hover + .submenu,
.submenu:hover {
    /*display: block;*/
    /*opacity: 1;*/
}
.menu-option:hover,
.submenu {
    background-color: #333d46;
}
.submenu {
    color: white;
    padding: 10px 0px;
    width: 280px;
    left: 50%;
    margin-left: -140px;
    transition: all .3s;
    position: absolute;
    display: none;
    opacity: 0;
    /*margin-top: -50px;*/
    /*z-index: 1;*/
    box-shadow: 0 15px 30px 5px rgba(0,0,0,.4);
    border-radius: 1px;
}
.submenu-option {
    font-weight: normal;
    line-height: 50px;
    letter-spacing: 2px
}
.submenu-option a {
    width: 100%;
    height: 100%;
    display: inline-block;
    color: white;
    text-decoration: none;
}
/*.menu-option-actual:hover,*/
.submenu-option a:hover {
    background-color: rgb(49,180,184);
    /*background-color: rgb(49,180,184);*/
}
.menu-option-actual, 
.submenu-option {
    /*cursor: pointer;*/
}

/* HEADER BUTTONS ON THE RIGHT */
#header-buttons {
    margin-top: 12px;
    float: right;
}
#header-button1 {
    outline: 2px #aaa;
    background-color: transparent;
    color: #666;
    font-weight: bold;
    width: auto;
}
header #header-button1:hover {
    background-color: #aaa;
    color: white !important;
}
header #header-button1-hover {
    background-color: #aaa;
    color: white !important;
}
#header-button2 {
    outline: 2px solid darkslategray;
    background-color: darkslategray;
    /*outline: 1px solid rgb(49,180,184);
    background-color: rgb(49,180,184);*/
}
#header-button2:hover {
    /*background-color: rgb(49,180,184);
    outline: 2px solid rgb(49,180,184);*/
    background-color: rgb(49,180,184);
    outline: 2px solid rgb(49,180,184);
}
.header-button {
    display: block;
    width: 100px;
    text-align: center;
    float: left;
    margin-left: 10px;
    padding: 10px 13px;
    height: 37px;
}

.header-flag {
    width: 40px;
    height: 30px;
    display: block;
    float: left;
    margin-left: 10px;
    margin-top: 3px;
}


/* SELECTOR COMPONENT */
.selector {
    width: auto;
    display: inline-block;
    height: 37px;
    overflow: hidden;
    cursor: pointer;
    transition: height .5s;
}
.selector:hover {
    outline: 1px solid #ccc;
}
.selector-options-wrapper {
    background-color: white;
    float: left;
    margin-top: 0;
    transition: all .5s;
}
.selector-option:hover {
    background-color: #E6E6E6;
}
.selector-option {
    display: block;
    float: left;
    clear: left;
    padding: 0px 20px;
    line-height: 37px;
    width: 100%;
    box-sizing: border-box;
    transition: all .1s;
    color: #888;
}
.selector-option:hover {
    color: black;
}

.content-block-content .selector-option:hover {
    background-color: #4D5760;
    color: white;
}
.content-block-content .selector-option {
    background-color: #E6E6E6;
}
/* SELECTOR COMPONENT END */

