@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.content-calculator-area {
	padding: 10px 0;
}

.calculator-container {
	height: auto;
	display: table;
	text-align: center;
}

.calcula-title {
	font-size: 35px;
	padding-top: 30px;
	color:#fff;
	text-align: center;
}

.error {
	color: red;
	font-size: 13px;
}

.inputError {
	border-color: red;
}

.left {
	width: 32%;
    float: left;
    text-align: right;
    white-space: nowrap;
    display: table-cell;
    /* padding: 1px 4; */
    border: 1px solid black;
}

.right {
	width: 65%;
    margin-left: 10px;
	float:left;
	display: table-cell;
	padding: 3px 10px;
}

.divTable{
	display: table;
	border-radius: 25px;
	background-color: #fff;
	padding: 5px;
}

.tableShadow {
	-webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}

.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}

.divTableCell1 {
	border: 0px solid #999999;
	display: table-cell;
	padding: 3px 10px;
	width: auto;
	text-align: right;
}

.divTableCell2 {
	border: 0px solid #999999;
	display: table-cell;
	padding: 3px 10px;
	text-align: right;
	width: auto;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

.legal-text {
	font-size: 80%;
	color: #999;
	word-wrap: break-word;
	margin-top: 1em;
}

.tooltip {
	border-bottom: 1px dashed #3a3a3c;
	cursor: help;
}


table.table-calculator {
	display: inline-table;
	table-layout: auto;
	width: 100%;
}

.colTableResults {
	vertical-align: top;
	height: fit-content;
}

table.form-table {
	display: table;
	background-color: #9fd1df;
	border-radius: 25px;
	width:380px;
	padding: 15px;
}

table.form-table-invest {
	display: table;
	background-color: #bbdd76;
	border-radius: 25px;
	width:380px;
	padding: 15px;
}

.formCell {
	vertical-align: top;
	
}

.formlabel {
	white-space: nowrap;
	text-align: right;
	width:150px;
}

.formInput {
	padding-left: 5px;
	width:200px;
	vertical-align: middle;
}

input {
	height: 2em;
	text-align: left;
}

.rcorners1 {
	border-radius: 25px;
	background: #9fd1df;
	padding: 30px; 
	width: 380px;
	height: 150px;
	text-align: center;
  }

  .centerSubmit {
	padding-top: 25px;
	text-align: center;
	width: 100%;
  }

  .button-submit {
	text-align: center;
	padding-top: 7px;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance:none;
	appearance: none;
  }

 

  input[type=radio] {
	width: 15px;
	height: 1.25rem;
	vertical-align:bottom;
  }

  
  input[type=text] {
	width: 100%;
  }


/* 
  select {
	width: 100%;
	font-size: 14px;
	text-rendering: auto;
	padding: .6em .2em .5em .2em;
	max-width: 100%; 
	box-sizing: border-box;
	margin:0;

  } */


  input[type=submit] {
    border-radius: 5px;
    border: 0;
    width: 200px;
    height:40px;
	color: white;
	background-color: rgb(49,180,184);
    text-decoration: none;
    padding: 13px 18px;	
    font-weight: bold;
	cursor: pointer;
	outline-color: #19414d;
	-webkit-appearance: none;
	-moz-appearance:none;
}

 input.button-submit-invest {
	text-align: center;
	padding-top: 7px;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance:none;
	appearance: none;
	background-color:#7C934E;
  }



select:focus {
	outline: 2px solid rgb(49,180,184);
}

input:focus {
	outline: 2px solid rgb(49,180,184);

}

.select-css {

	display: block;
	font-size: 13px;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%; /* useful when width is set to anything other than 100% */
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 2px rgb(49,180,184);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222; 
	outline: none;
}

.divLastTableRow {
	height: 42px;
}

.select-css option {
	font-weight:normal;
}

*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
	background-position: left .7em top 50%, 0 0;
	padding: .6em .8em .5em 1.4em;
}

.select-css:disabled, .select-css[aria-disabled=true] {
	color: graytext;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

.select-css:disabled:hover, .select-css[aria-disabled=true] {
	border-color: #aaa;
}

.costo-credito {
	display: table-cell;
	text-align: right;
}

  a.verCosto  {
	color: rgb(31,79,92   );
	font-size: .9rem;
	text-decoration: none;
  }
  
  a.verCosto:hover {
	text-decoration: underline;
  }
  
  a.verCosto:active {
	color: rgb(49,180,184);
  } 

  .disclaimer {
	  
  }

@media (max-width:650px) {
	    /* CALCULATOR */

		table.table-calculator tbody > tr > td {
			display: block;
			height: 80%;
		}
			
		table.form-table {
			display: table;
			background-color: #9fd1df;
			border-radius: 25px;
			width: 310px;
			padding: 5px;
		}


		table.form-table-invest {
			display: table;
			background-color: #bbdd76;
			border-radius: 25px;
			width: 310px;
			padding: 5px;
		}

	
		table.form-table tbody > tr > td {
			display:table-cell;
		}

		table.form-table-invest tbody > tr > td {
			display:table-cell;
		}

		.formlabel {
			white-space: nowrap;
			text-align: right;
			width: 130px;
			font-size: 13px;
		}
	
		.select-css {
			font-size: 11px;
		}
	
		input[type=text] {
			font-size: 11px;
		}
	
		label {
			font-size: 13px;
		}
		
		.divInvTableCell {
			padding: 3px 18px;
		}
	
		.f-right {
			padding-right: 15px;
		}
	
		.footer-bottom-top-legal {
			display: block;
		}
		.footer-bottom-text {
			display: block;
		}
	
		.sim-inv-form-container {
			padding-right: 3.5px;
		}
	
		.divLastTableRow {
			height: 12px;
		}
}