.content-investment-area {
    padding: 10px 0;
}

.investment-container {
    height: auto;
    display: table;
    text-align: center;
}

.investment-title {
    font-size: 35px;
    padding-top: 30px;
    color: black;
    text-align: center;
}

.number-label {
    vertical-align: middle;
    text-align: center;
    color: #58595a;
    border-radius: 3px 0 0 3px;
    margin-right: -3px;
}

.divInvTable {
    display: flex;  
    /* background: #8cb441; */
    background: #cdd7da;
}

.text-center {
    width: 100%;
}

.dashed {
    border-bottom: 1px dashed #3a3a3c;
    cursor: help;
}

.allCheck {
    vertical-align:middle;
}

.f-left {
    text-align: left;
    margin: -.5rem;
}

.f-right {
    text-align: right;
    display: table-cell;
}

.h6, h6 {
    font-size: 1rem;
    display: inline-block;
    margin: 0 auto;
}

table.sim-inv-table {
    border-radius: 3px;
    background-color: #e7e7e7;
    color: #58595a;
    margin: .5rem 1rem;
}

table.sim-inv-table td {
    width: 45px;
    text-align: center;
}

.divInvTableRow {
    display: table-row;
}

.invInputText {
    display: flex;
    margin: .5rem;
}

.currencySign {
    background-color: #fff;
    border: 0!important;
    vertical-align: middle;
    text-align: center;
    color: #58595a;
    border-radius: 3px 0 0 3px;
    width: 12px;
}

.divInvTableHeading {
    background-color: #EEE;
    display: table-header-group;
}

.divInvTableCell,
.divInvTableHead {
    display: table-cell;
    padding: 3px 10px;
    display: flex;
}

.divInvTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divInvTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.formChafa {
    border: 1px solid white;
    margin: .5rem;
    height: 500px;
}

.divInvChartRow {
    padding-top: .5rem;
    padding-right: .2rem;
    padding-left: .5rem;
    background: #ffffff;
}

.divInvTableBody {
    display: table-row-group;
    border: 2px solid blue;
}

.d-block {
    display: block!important;
}

.sim-inv-form-container {
    margin-top: -.5rem;
}

.round-badge {
    border-radius: 50%;
    color: #fff;
    background: #a7a8ac;
    height: 26px;
    width: 26px;
    line-height: 26px;
    margin: 0 auto;
    text-align: center;
    border-bottom: none;
}

.invSimPlazos {
	display:table;
	width: 100%;
}

.cluster_aa {
    background: #006838;
}

.cluster_a,
.cluster_pa {
    background: #4ab463;
}

.cluster_b,
.cluster_pb {
    background: #8ebd2c;
}

.cluster_c,
.cluster_pc {
    background: #389ec5;
}

.cluster_d,
.cluster_pd {
    background: #5c65ca;
}

.cluster_e,
.cluster_pe {
    background: #e0ad41;
}

.cluster_f {
    background: #f69031;
}


label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=checkbox].css-checkbox {
    position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height:1px; 
  width:1px; 
  margin:-1px; 
  padding:0;
  border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:20px;
  height:15px; 
  display:inline-block;
  line-height:15px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;
}

.centerInvSubmit {
    text-align: center;
    width: 100%;
}

.button-inv-submit {
    text-align: center;
    padding-top: 7px;
    width: 100%;
}

input[type=tel]  {
    width: 100%;
    text-align: right;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -15px;
}

.css-label{
  background-image:url(http://csscheckbox.com/checkboxes/lite-gray-check.png);
}

.lite-green-check {
    background-image: url(http://csscheckbox.com/checkboxes/lite-green-check.png);
}

.lite-gray-check{
    background-image:url(http://csscheckbox.com/checkboxes/lite-gray-check.png);
}

.investmentChart {
    width: 380px; height: 500px;
    border: 1px solid #a7a8ac;
    z-index: 0;
    margin-right: 10px;
}


@media screen and (max-width: 600px){

    .investmentChart {
        position: relative;
        overflow: hidden;
        width: 300px;
        height: 300px;
        text-align: left;
        line-height: normal;
        z-index: 0;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .divInvTable {
        display:block;
        width: 320px;
    }

    table.sim-inv-table {
        border-radius: 3px;
        background-color: #e7e7e7;
        color: #58595a;
    }

    table.sim-inv-table td {
        width: 39px;
        text-align: center;
    
    }
    
    .divInvChartRow {
        padding:5px;
    }

    input[type=tel] {
        width: 90%;
        text-align: right;
    }

}