@media (max-width: 1200px) {
    /* ABOUT */
    .stat-group {
        width: 100%;
        margin: 20px;
    }
}
@media (max-width: 1100px) {
    /* GENERAL */
    #app {
        /*width: calc(100% + 350px);*/
        /*margin-left: -350px;*/
    }
    #app.menu-open {
        margin-left: 0px;
    }
    #app-sidebar {
        
    }
    #menu-background.show {
        display: block;
    }
    #menu-button {
        display: block;
    }
    header {
        padding-top: 5px;
        box-sizing: border-box;
    }
    .header-flag {
        display: none;
    }
    /* HOME */
    .floating-block {
        float: none;
        width: 100% !important;
        margin: 0;
    }
    .house {
        width: 20%;
    }
    .two-col {
        width: 100%;
        float: none;
    }
    #infographic-detail {
        height: auto;
        padding: 0;
    }
    #infographic-detail .vertical-center1 {
        height: auto;
    }
    #community-img {
        background-position: center;
    }
    .quote-text {
        max-width: none;
    }
    .press-quote {
        width: 50%;
    }
    #header-logo-wrapper {
        width: 100%;
        left: 0;
        text-align: center;
    }
    #header-logo {
        display: inline-block;
    }
    #header-menu {
        display: none;
    }
    #community-text {
        padding: 0;
        padding-top: 25px;
    }
    /*#app, 
    #app-sidebar,
    #app-content {
        transition: all .5s;
    }*/
    #using-iban {
        position: relative;
        padding-bottom: 400px !important;
    }
    #iban-device-image {
        min-height: 400px;
        position: absolute;
        bottom: 0;
        min-width: 320px;
        background-size: contain;
    }
    #using-iban-text {
        padding-bottom: 20px;
    }
    #notabs {
        display: none;
    }
    #tabs {
        display: block;
    }
    .third {
        width: 100%;
        margin-bottom: 20px
    }
    .two-thirds {
        width: 100%;
        line-height: normal;
    }
    /* BORROW */
    .easy-blocks-wrapper {
        padding: 0 0 !important;
    }
    .standard-content-block {
        padding: 50px 20px !important;
    }
    /* ABOUT */
    .title-div {
        /*background-size: 100%;*/
        background-position: 50% center;
    }
}

@media (max-width:800px) {


    header, footer, #app-content > div > div {
        margin: 0 auto;
        padding: 0 10px;
        box-sizing: content-box;
    }

    .flex-container {
        display:block;
    }

    h4.media-heading {
        padding:1rem;
    }
    .column1 {
        width:60%;
    }
    
    .column2 {
        width:60%;
    }

    /* BORROW */
    .easy-block {
        width: 100%;
        margin-top: 20px;
    }
    /* PRODUCTS */
    .circle-img {
        display: none;
    }
    #footer-bottom-top {
        flex-wrap: wrap
    }
    #footer-bottom-top-legal {
        margin-top: 30px
    }
}

@media (max-width:700px) {
    #header-buttons {
        display: none;
    }
    .footer-group {
        /*width: 50%;*/
    }
    
    #promotion-header {
        /*padding: 0;*/
    }
    #promotion-header > span {
        line-height: 30px;
    }
    #promotion-header > .button {
        display: inline-block;
        /*margin-top: 10px;*/
    }
    #header-logo-wrapper {
        /* text-align: right; */
    }
    #header-logo {
        margin-right: 10px;
        margin-top: 12px;
    }
    #hero h1 {
        font-size: 35px !important;
        line-height: 30px !important;
    }
    #hero h2 {
        font-size: 25px;
        line-height: 20px;
    }
    #hero-vid {
        display: none;
    }
    #hero-gif {
        display: none;
    }
    #hero {
        /* background-image: url(../img/iban-hero.jpg); */
        /*background-color: transparent;*/
        padding-bottom: 50px;
        background-color: rgb(49,180,184);
        text-shadow: 1px 2px 10px black;
    }
    #hero .hero-button {
        display: none;
    }
    header, 
    footer, 
    #app-content > div > div {
        padding: 0 3px;
    }
    header {
        padding-top: 5px;
    }
    #app-content > #home-block1 > div {
        padding: 0;
    }
    .floating-block {
        width: auto !important;
        float: none !important;
    }
    #home-block2 h2 {
        font-size: 25px;
    }
    #infographic {
        height: 0;
        padding-top: 100%;
    }
    #simple h3 {
        font-size: 15px;
    }
    #simple ul {
        font-size: 14px;
    }
    #simple small {
        font-size: 13px;
    }
    #house-grid {
        width: calc(100% + 40px);
        margin-left: -20px;
    }
    .house {
        width: 25%;
    }
    #community-col1 {
        height: auto;
    }
    #community-img {
        height: 0;
        padding-top: calc(54% + 40px);
        width: calc(100% + 40px);
        margin-left: -20px;
    }
    .press-quote {
        width: 100%;
    }
    .footer-group {
        line-height: 35px;
    }
    .countries {
        display: block;
        float: none;
        margin-top: 40px;
    }
    .third {
        width: 100%;
    }
    .two-thirds {
        width: 100%;
        line-height: 24px;
        text-align: justify;
    }
    /* PRODUCTS */
    #tab-row {
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-top: -78px;
    }
    /* REFER A FRIEND */
    .refer-friend-col {
        width: 100%;
    }
    #refer-friend-bg-img {
        display: none;
    }
    /* CONTACT */
    .contact-col {
        width: 100%;
    }
    /* ABOUT */
    #app-content > div > div#big-numbers-footnote small {
        font-size: 10px;
    }
}

@media (max-width:500px) {

    footer a {
        display: inline-block;
        margin-top: 10px;
    }
    .title-div {
        padding: 50px 0 10px 0;
    }
    .title-div h1 {
        font-size: 40px;
        letter-spacing: -1px;
        line-height: 35px;
    }
    .title-div h3 {
        font-size: 18px;
        letter-spacing: -1px;
        line-height: 20px;
    }
    /* HOME */
    .banner-dark {
        padding: 10px;
    }
    .third img {
        display: block;
        margin: 0 auto;
    }
    .two-thirds {
        font-size: 17px;
        line-height: 22px;
    }
    /* PRODUCTS */
    #product-content-area h2 {
        width: calc(100% + 40px);
        margin-left: -20px;
    }
    /* BORROW */
    .standard-content-block {
        padding: 30px 10px !important;
    }
    .standard-content-block p {
        font-size: 18px;
        line-height: 23px;
    }
    .iban-benefit {
        width: 100%;
    }

    .flex-container {
        display:block;
    }

    h4.media-heading {
        padding:.5rem;
    }
    .column1 {
        width:90%;
    }
    
    .column2 {
        width:90%;
    }



    
}
